* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 1fr 80px;
  grid-template-areas: "aside map" "footer footer";
}

.aside {
  grid-area: aside;
  width: 100%;
  height: 100%;
  padding: 40px 24px;
  background: #f0f0f0;
  overflow-y: auto;
}
.aside__speed {
  font-weight: 500;
  font-size: 80px;
  line-height: 98px;
  text-align: center;
}
.aside__info-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}
.aside__info-bar__drive {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.aside__info-bar__velocity-unit {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.aside__info-bar__drive span.active {
  color: #000000;
}
.aside__info-bar__info {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.aside__info-bar__info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.aside__image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 230px;
  margin-top: 24px;
  background: url("/assets/images/cars.png");
  background-position: center;
}
.aside__image__velocity {
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.aside__card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  border-radius: 24px;
  padding: 24px 24px 16px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}
.aside__card__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "dumv title dots";
}

.aside__card__header__title {
  grid-area: title;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.aside__card__header img {
  justify-self: flex-end;
  grid-area: dots;
}
.aside__card__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aside__card__body__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.aside__card__body__info__item {
  text-align: center;
}
.aside__card__body__info__item__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.aside__card__body__info__item__unit {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
}
.aside__card__body__last-charge {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}
.dot.active {
  opacity: 1;
}

.map {
  position: relative;
  grid-area: map;
  width: 100%;
  height: 100%;
  background: url("/assets/images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.map__top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 32px;
}
.map__top-bar__left-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.map__top-bar__left-container p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.map__top-bar__right-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.map__navigate {
  display: flex;
  justify-content: space-between;
  width: 346px;
  height: 80px;
  padding: 24px;
  margin-left: 45px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
}
.map__navigate__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
}
.map__navigate__content p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.5);
}

.map__panel {
  /* display: none; */
  width: 340px;
  margin-left: 48px;
  margin-top: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: #f0f0f0;
  opacity: 0;
  transition: 450ms;
  user-select: none;
}
.active {
  display: block;
  opacity: 1;
}
.map__panel .map__panel__item-button {
  display: none;
}
.map__panel.active .map__panel__item-button {
  display: block;
}
.map__panel__item__container {
  display: flex;
  gap: 25px;
}
.map__panel__item__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.map__panel__item__content__distance {
  font-size: 20px;
  line-height: 24px;
}
.map__panel__item__content__road-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}
.map__panel__item__content__batery {
  display: flex;
  gap: 10px;
}
.map__panel__item__content__batery__level {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}
.map__panel__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px 8px 25px 25px;
}

.map__panel__item-button {
  width: 100%;
  padding: 27px 0px;
  text-align: center;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}
.map__panel__item-button p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.map__config {
  position: absolute;
  top: 64px;
  right: 0;
  display: none;
  width: 100%;
  height: calc(100% - 64px);
  padding: 12px;
  padding-top: 0;
  z-index: 99999;
}
.map__config.active {
  display: block;
}
.map__config__container {
  display: grid;
  grid-template-columns: 242px 1fr;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
}
.map__config__menu {
  height: 100%;
  padding: 24px;
  background-color: #fff;
}
.map__config__menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.map__config__menu__list li {
  display: flex;
  align-items: center;
  gap: 16px;
  opacity: 0.6;
}

.map__config__menu__list .active {
  opacity: 1;
}

.map__config__menu__list span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.map__config__menu__glovebox-buton {
  display: flex;
  align-items: center;
  gap: 28px;
  width: 100%;
  margin-top: 12px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}
.map__config__menu__glovebox-buton span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.map__config__content {
  padding: 24px;
}
.map__config__content__opts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
}
.map__config__content__opt-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.map__config__content__opt-container {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  padding: 4px;
  border-radius: 999px;
  background: #dbdbdb;
  user-select: none;
  transition: 450ms background;
}

.switch-ball {
  display: block;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 450ms transform;
}

.switch.active {
  background: #007be4;
}

.switch.active .switch-ball {
  transform: translateX(60px);
}

.exit-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.settings-button {
  position: absolute;
  bottom: 45px;
  right: 45px;
  padding: 25px;
  border: none;
  border-radius: 50%;
  background: #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  user-select: none;
  cursor: pointer;
  z-index: 9;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: footer;
  background: black;
}
.footer__temperature {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: white;
}
.footer__temperature__unit {
  color: rgba(255, 255, 255, 0.4);
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.car {
  background: url("/assets/icons/model3-icon.svg");
}
.defrost {
  background: url("/assets/icons/defrost.svg");
}
.heater {
  background: url("/assets/icons/heater.svg");
}
.seat {
  background: url("/assets/icons/seat.svg");
}
.fan {
  background: url("/assets/icons/fan.svg");
}
.seat-1 {
  background: url("/assets/icons/seat-1.svg");
}
.music {
  background: url("/assets/icons/music.svg");
}
.phone {
  background: url("/assets/icons/phone.svg");
}
.volume {
  background: url("/assets/icons/volume.svg");
}
.arrow-left {
  background: url("/assets/icons/arrow-left.svg");
}
.arrow-right {
  background: url("/assets/icons/arrow-right.svg");
}
.bluetooth {
  background: url("/assets/icons/bluetooth.svg");
}
.cell-signal {
  background: url("/assets/icons/cell-signal.svg");
}
.lock {
  background: url("/assets/icons/lock.svg");
}
.tesla-logo {
  background: url("/assets/icons/tesla-logo.svg");
}
.navigate {
  background: url("/assets/icons/navigate-icon.svg");
}
.quick-controls {
  background: url("/assets/icons/quick-controls.svg");
}
.lights {
  background: url("/assets/icons/lights.svg");
}
.display {
  background: url("/assets/icons/display.svg");
}
.car-black {
  background: url("/assets/icons/model3-icon-black.svg");
}
.steering-wheel-small {
  background: url("/assets/icons/steering-wheel-small.svg");
}
.safety-and-security {
  background: url("/assets/icons/safety-and-security.svg");
}
.service {
  background: url("/assets/icons/service.svg");
}
